<% include ./partials/header.ejs %>

	<!-- Page Header -->
    <header class="masthead">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Edit Post</h1>
             </div>
		   </div>
        </div>
      </div>
    </header>
	
    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <form action ="/posts/<%= post._id %>?_method=PUT" method="POST" name="sentMessage" id="contactForm" novalidate>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Title</label>
                <input type="text" class="form-control" value="<%= post.title %>" name="post[title] id="title" required data-validation-required-message="Please enter a title.">
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <div class="control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Content</label>
                <textarea rows="20" class="form-control" name="post[content] id="content" required data-validation-required-message="Please enter a content."><%= post.content %></textarea>
                <p class="help-block text-danger"></p>
              </div>
            </div>
            <br>
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Update</button>
            </div>
          </form>
		  <hr>
		  
		  <div id="success"></div>
		    <div class="form-group">
		      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST" name="sentMessage" id="contactForm" novalidate>
			    <button type="submit" type=" "class="btn btn-primary" id="sendMessageButton">Delete</button>
		      </form>
			</div>
          </div>
		  
      </div>
    </div>
	
<% include ./partials/footer.ejs %>